# Lab Exercise [30 Marks]

### <font color='red'>Deadline: 15<sup>th</sup> June 2025 (Sunday), 11.59pm.</font>

## Submission Instructions

- Download and rename this notebook according to your group number, e.g.: `LabEx_GXX.ipynb`.
- Fill in all group members' details in the following Markdown cell.
- Fill in every group member's contribution in percentage, with the total 100%. All the members MUST AGREE to the percentages before submission. For example, the group members agree to give 0% contribution to the sleeping group member. 
- Not all group members in the same group will get the same mark. Your mark is depending on your contribution to the group work.
- Complete all the questions. Fill in your ANSWERS IN THIS NOTEBOOK. Do not change/delete provided cells.
- Submit this <b> .ipynb file </b> according to your registered group  in EbWise . Name your submission file as `LabEx_GXX.ipynb`.


## Penalties
- For submission that does not conform to <i> Submission Instructions </i>, <b> 5 marks will be deducted </b>. 
- For submission <i> after the Deadline </i>, late submission penalty is applied with a deduction of <b> 5 marks per hour </b>.

#### Group##

**Tutorial section: TT_L**


| | Student ID     | Student Name                | Contribution | 
|--:|:-------------|:----------------------------|-------------:|
| 1 | Student_ID1  | Student_Name1               | 30%          | 
| 2 | Student_ID2  | Student_Name1               | 20%          | 
| 3 | Student_ID3  | Student_Name1               | 10%          | 
| 4 | Student_ID4  | Student_Name1               | 40%          |

## Import Libraries

In [1]:
import pandas as pd                               # For dataframes
import matplotlib.pyplot as plt                   # For plotting data
import seaborn as sns                             # For plotting data
import numpy as np

## Question 1 [14 mark]
The dataset can be downloaded from https://data.gov.my/data-catalogue

### Complete the tasks below:
1. Import and prepare the `crime_district` dataset. Display the first and the last 5 rows of the dataset. 2m

1. Answer the following questions for crime between 2016-2023 in Malaysia using visuals (charts,graphs, etc): 6m
    * Which `state` has the most number of crime? 
    * Which `district` in the state from the previous question has the highest number of crime? 
    * What `year` from the dataset has the highest number of crime in Malaysia? 
1. Plot a line graph to show the number and type of crime of each `state`. 4m
1. Discuss and explain your observation. 2m

### Load and Prepare Data: 2m

In [ ]:
df = pd.read_csv('crime_district.csv')
print("First 5 row of the dataset:")
display(df.head())
print("Last 5 row of the dataset:")
display(df.tail())

### Using Visual Tools: 6m
#### Which `state` has the most number of crime?

In [ ]:
state_crime_totals_df = state_crime_totals.reset_index()

plt.figure(figsize=(12,6))
sns.barplot(data=state_crime_totals_df, x='state', y='crimes', hue='state', palette='viridis')
plt.xticks(rotation = 90)
plt.title('Total number of crime by state')
plt.xlabel('state')
plt.ylabel('number of crimes')
plt.tight_layout()
plt.show()

top_state = state_crime_totals.idxmax()
print(f"state with the most number of crime: {top_state}")

:

#### Which `district` in the state has the highest number of crime?

In [ ]:
district_crime_totals = df.groupby('district')['crimes'].sum().sort_values(ascending=False).head(10)
district_crime_totals_df = district_crime_totals.reset_index()

plt.figure(figsize=(12, 6))
sns.barplot(data=district_crime_totals_df, x='district', y='crimes', hue='district', palette='viridis')
plt.xticks(rotation= 20)
plt.title('Top 10 Districts by Number of Crimes')
plt.xlabel('District')
plt.ylabel('Number of Crimes')
plt.tight_layout()
plt.show()

top_district = district_crime_totals.idxmax()
print(f"District with the most number of crimes in {top_state}: {top_district}")

#### What `year` from the dataset has the highest number of crime in Malaysia?

In [ ]:
yearly_crimes = df.groupby('date')['crimes'].sum().reset_index()
yearly_crimes['date'] = pd.to_datetime(yearly_crimes['date']).dt.year

plt.figure(figsize=(12, 6))
sns.lineplot(data=yearly_crimes, x='date', y='crimes', marker='o', color='red')
plt.title('Total Number of Crimes in Malaysia by Year')
plt.xlabel('Year')
plt.ylabel('Number of Crimes')
plt.grid(True)
plt.tight_layout()
plt.show()

year_with_most_crimes = yearly_crimes.loc[yearly_crimes['crimes'].idxmax(),'date']
print(f"The year with the highest number of crimes in Malaysia is: {year_with_most_crimes}")

### Plot a line graph to show the number and type of crime of each `state`. 4m

### Discuss and explain your observation. 2m

___
## Question 2 [16 mark]
You are provided with the `train.csv` as the dataset for this question.

### Complete the tasks below:
1. Perform exploratory data analysis on the dataset. 4m
1. Perform clustering on the dataset with your choice of algorithm and visualise the clusters.  3m
1. Train a model to predict the `Calories` based on the given attributes. Then, evaluate your model's performance with suitable measurement. 5m
1. Improve the performance of your model. You are free to explore and use any method that improve performance. 2m
1. Discuss and explain your observation. 2m

### Load dataset

In [52]:
df = pd.read_csv('train.csv')
display(df)

,id,Sex,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,0,male,36,189.0,82.0,26.0,101.0,41.0,150.0
1,1,female,64,163.0,60.0,8.0,85.0,39.7,34.0
2,2,female,51,161.0,64.0,7.0,84.0,39.8,29.0
3,3,male,20,192.0,90.0,25.0,105.0,40.7,140.0
4,4,female,38,166.0,61.0,25.0,102.0,40.6,146.0
...,...,...,...,...,...,...,...,...,...
749995,749995,male,28,193.0,97.0,30.0,114.0,40.9,230.0
749996,749996,female,64,165.0,63.0,18.0,92.0,40.5,96.0
749997,749997,male,60,162.0,67.0,29.0,113.0,40.9,221.0
749998,749998,male,45,182.0,91.0,17.0,102.0,40.3,109.0
749999,749999,female,39,171.0,65.0,19.0,97.0,40.6,103.0

### EDA: 4m

### Clustering: 3m

### Regression: 5m

### Improve Performance: 2m

### Discussions: 2m

## Plagiarism
It is fine to seek help from friends or from online resources when you do the assignment, However,
seeking help should not go overboard, to the point of getting (or even paying) someone to
complete the assignment partly or fully for you, copying from online resources without
understanding, or doing any means with the intention to cheat. 

For this assignment, plagiarism
means the following:
(a) Turning in a work that, from the examiner’s point of view, you do not sufficiently understand.
(b) Turning in someone else’s work (whether partly or fully) as your own.
(c) To use another’s work (whether partly or fully) without crediting the source.
(d) Any means of cheating.

**Plagiarism is a serious offence.**

**We will give ZERO (0) marks to students who plagiarize AND to students who intentionally or
unintentionally help other students to plagiarize by giving all or some of their code.**



## Submit
All submission via EbWise/OneDrive according to your tutorial section (check with your tutor where to submit).

**Name your Lab Exercise file accordingly.** \
Ensure your `.ipynb` file is properly named. Double check all group members' ID, name, and contribution before submission. All group members must agree to the submitted contribution.

### <font color='red'>Deadline: 15<sup>th</sup> June 2025 (Sunday), 11.59pm.</font>